
*.dtbcache
*.ide
*.ide-shm
*.ide-wal
*.dll
*.pdb
obj/
bin/
*.lock
Scaffold.PassThroughApi/.vs/Scaffold.PassThroughApi/v15/.suo
Scaffold.Api/.vs/Scaffold.Api/v15/.suo
Scaffold.Api/.vs/config/applicationhost.config
Scaffold.PassThroughApi/.vs/config/applicationhost.config
Scaffold.PassThroughApi/Scaffold.PassThroughApi.Api/Logs/HCF.Claims.[ApiName].Api20180718.log
Scaffold.PassThroughApi/Scaffold.PassThroughApi.Api/Logs/HCF.Claims.[ApiName].Api20180718.log
Scaffold.PassThroughApi/Scaffold.PassThroughApi.Api/Logs/HCF.Claims.[ApiName].Api20180718.log
*.log
